* {
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #FF6F00;
  color: #FFE57F;
}

body {
  height: 100%;
  padding-top: 50px;
  background-color: #EEEEEE;
}

li {
  list-style: none;
}

h2 {
  color: #009688;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

h3 {
  color: #009688;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

p {
  color: #757575;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  color: #757575;
}

.noselect {
  -webkit-user-select: none;
}

.button {
  height: 24px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  filter: grayscale(1);
}
.button-active {
  filter: grayscale(0);
}

header {
  position: fixed;
  margin-top: -50px;
  z-index: 10;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #FFF;
}

header .logo {
  width: 50px;
  justify-content: space-around;
  display: flex;
  cursor: pointer;
  filter: grayscale(1);
  transition-duration: 0.3s;
}

header .burger {
  margin: 0 10px 0 10px;
}
header .logo:hover {
  filter: grayscale(0);
}

header .logo-img {
  height: 30px;
}

.sidebar {
  position: fixed;
  padding: 15px 0 20px 20px;
  transition-duration: 0.5s;
  transform: translateX(-275px);
  z-index: 10;
  width: 200px;
  height: 100%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.sidebar *::selection {
  color: #FFF;
  background-color: #009688;
}

.sidebar-active {
  transform: translateX(0px);
}

.sidebar .sb-h {
  color: #009688;
  cursor: pointer;
}

.sidebar ul li {
  margin: 10px 0 10px -22px;
}

.sidebar ul li input[type="checkbox"] {
  opacity: 0;
  float: left;
  width: 20px;
}

.sidebar ul li input[type="checkbox"] + label {
  clear: none;
  padding: 5px 0 5px 30px;
  cursor: pointer;
  background: url(../images/ic_check_box_blank.svg) left center no-repeat;
}

.sidebar ul li input[type="checkbox"]:checked + label {
  background-image: url(../images/ic_check_box.svg);
}

.sidebar [id*=slider-] {
  margin: 10px 25px 15px 0;
}

.sidebar input[type=text] {
  border: 0;
  color: #FFA000;
  font-weight: bold;
  margin-top: 10px;
}

.grey {
  transition-duration: 0.5s;
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.grey-active {
  display: block;
}

.content {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 70%;
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: default;
  width: 100%;
  padding: 10px;
  background-color: #FFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.goods-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.goods-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.element-column {
  background-color: #FFF;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.element-row {
  cursor: pointer;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 170px;
  height: 200px;
  justify-content: space-between;
  padding: 20px;
  margin: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.element-row p {
  display: none;
}

.element-row img {
  margin: 0 auto;
  display: block;
  height: 150px;
}

.element-column img {
  display: block;
  height: 150px;
  cursor: pointer;
  margin-right: 30px;
}

.element-row .description {
  margin: 0 auto;
}
footer {
  background-color: #757575;
  height: 120px;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
}

footer div {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-around;
}
footer div ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #FFF;
  margin: 10px 0;
}
