* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding-top: 50px;
}

li {
  list-style: none;
}

.noselect {
  -webkit-user-select: none;
}

header {
  position: fixed;
  margin-top: -50px;
  z-index: 10;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #9E9E9E;
  background-color: #FFF;
}

header .burger {
  margin: 0 10px 0 10px;
  height: 24px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
}

header .logo {
  width: 50px;
  justify-content: space-around;
  display: flex;
}

header .logo img {
  height: 30px;
}

.sidebar {
  overflow-y: scroll;
  position: fixed;
  padding: 15px 0 20px 20px;
  transition-duration: 0.5s;
  transform: translateX(-275px);
  z-index: 10;
  width: 200px;
  height: calc(100% - 70px);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #9E9E9E;
}

.sidebar *::selection {
  color: #FFF;
  background-color: #009688;
}

.sidebar-active {
  transform: translateX(0px);
}

.sidebar .sb-h {
  color: #009688;
  cursor: pointer;
}

.sidebar ul li {
  margin: 10px 0 10px -10px;
}

.sidebar ul li input[type="checkbox"] {
  opacity: 0;
  float: left;
  width: 20px;
}

.sidebar ul li input[type="checkbox"] + label {
  clear: none;
  padding: 5px 0 5px 30px;
  cursor: pointer;
  background: url(../images/checkbox.png) left center no-repeat;
}

.sidebar ul li input[type="checkbox"]:checked + label {
  background-image: url(../images/checkbox_checked.png);
}

.grey {
  transition-duration: 0.5s;
  opacity: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 8;
}

.grey-active {
  opacity: 1;
}

.main-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-block div {
  height: 150px;
  width: 100%;
  padding: 20px;
  background-color: #9E9E9E;
}

.main-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 3vw;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.content {
  height: 2000px;
  width: 100%;
  background-color: #9E9E9E;
}
